{% extends "employee/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
    {{form.emp_id | as_crispy_field }}
    {{form.emp_name | as_crispy_field }}  
    <div class="row">
        <div class="col-md-4">
            {{form.emp_contact | as_crispy_field }} 
        </div>
        <div class="col-md-8">
            {{form.emp_email | as_crispy_field }} 
        </div>
    </div> 
    {{form.emp_desg | as_crispy_field }} 
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
    
</form>

{% endblock content %}